Codigo/REP_AGP/WEB_AGP/construccion/descriptores/PREP/wsdl/ayudasContratacion/TiposSubvencion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema 
	targetNamespace="http://www.agroseguro.es/TiposSubvencion"
	xmlns="http://www.agroseguro.es/TiposSubvencion"
	xmlns:pks="http://www.agroseguro.es/TiposSubvencion"
	xmlns:x="http://www.w3.org/2001/XMLSchema"
	xmlns:ti="http://www.agroseguro.es/Tipos" 
	>
	
	<x:import
		namespace="http://www.agroseguro.es/Tipos"
		schemaLocation="Tipos.xsd" />

	<x:element name="TiposSubvencion" type="TiposSubvencion" />
	
	<x:complexType name="TiposSubvencion" >
		<x:sequence>
			<x:element name="GrupoSubvencion" type="GrupoSubvencion" minOccurs="1" maxOccurs="unbounded" />
		</x:sequence>
		<x:attributeGroup ref="ti:PlanLinea" />
		<x:attributeGroup ref="ti:PeticionSW" />
		
	</x:complexType>
	
	<x:complexType name="GrupoSubvencion">
        <x:sequence>
			<x:element name="TipoSubvencion" type="TipoSubvencion" minOccurs="1" maxOccurs="unbounded" />
        </x:sequence>	
		<x:attribute name="grupo" type="ti:GrupoSubvencion" use="required" />
		<x:attribute name="descriptivo" type="ti:GrupoSubvencion_Descripcion" use="required" />
	</x:complexType>
	
	<x:complexType name="TipoSubvencion">
		<x:attribute name="tipo" type="ti:Subvencion_Tipo" use="required" />
		<x:attribute name="descriptivo" type="ti:Subvencion_Tipo_Descriptivo" use="required" />
		<x:attribute name="declarable" type="ti:SoN" use="required" />
	</x:complexType>
	
	
</x:schema>