Codigo/REP_AGP-TC/WS-AGP/construccion/descriptores/LOCAL/wsdl/confirmacionExt/ContratacionExtConfirmacion.wsdl

<!--  Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-promoted-b146 svn-revision#13443.  -->
<!--  Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-promoted-b146 svn-revision#13443.  -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/" name="ContratacionExtConfirmacionImplService">
	<wsp:Policy wsu:Id="ContratacionExtConfirmacionPortBinding_MTOM_Policy">
		<ns1:OptimizedMimeSerialization
			xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
		</wsp:Policy>
		<types>
			<xsd:schema>
				<xsd:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="http://localhost:8080/WS-AGP/ContratacionExt?xsd=1"/>
			</xsd:schema>
			<xsd:schema>
				<xsd:import namespace="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/" schemaLocation="http://localhost:8080/WS-AGP/ContratacionExt?xsd=2"/>
			</xsd:schema>
		</types>
		<message name="calcular">
			<part name="parameters" element="tns:calcularRequest"/>
		</message>
		<message name="calcularResponse">
			<part name="parameters" element="tns:calcularResponse"/>
		</message>
		<message name="solicitarCupon">
			<part name="parameters" element="tns:solicitudCuponRequest"/>
		</message>
		<message name="solicitarCuponResponse">
			<part name="parameters" element="tns:solicitudCuponResponse"/>
		</message>
		<message name="confirmarCupon">
			<part name="parameters" element="tns:confirmarCuponRequest"/>
		</message>
		<message name="confirmarCuponResponse">
			<part name="parameters" element="tns:confirmarCuponResponse"/>
		</message>
		<message name="confirmar">
			<part name="parameters" element="tns:confirmarRequest"/>
		</message>
		<message name="confirmarResponse">
			<part name="parameters" element="tns:confirmarResponse"/>
		</message>
		<message name="anularCupon">
			<part name="parameters" element="tns:anularCuponRequest"/>
		</message>
		<message name="anularCuponResponse">
			<part name="parameters" element="tns:anularCuponResponse"/>
		</message>
		<message name="calcularAnexo">
			<part name="parameters" element="tns:calcularAnexoRequest"/>
		</message>
		<message name="calcularAnexoResponse">
			<part name="parameters" element="tns:calcularAnexoResponse"/>
		</message>
		<message name="confirmarSiniestro">
			<part name="parameters" element="tns:confirmarSiniestroRequest"/>
		</message>
		<message name="confirmarSiniestroResponse">
			<part name="parameters" element="tns:confirmarSiniestroResponse"/>
		</message>
		<message name="validar">
			<part name="parameters" element="tns:validarRequest"/>
		</message>
		<message name="validarResponse">
			<part name="parameters" element="tns:validarResponse"/>
		</message>
		<message name="validarAnexo">
			<part name="parameters" element="tns:validarRequest"/>
		</message>
		<message name="validarAnexoResponse">
			<part name="parameters" element="tns:validarResponse"/>
		</message>
		<portType name="ContratacionExtConfirmacion">
			<operation name="calcular">
				<input wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/calcular" message="tns:calcular"/>
				<output wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/ContratacionExtConfirmacion/calcularResponse" message="tns:calcularResponse"/>
			</operation>
			<operation name="solicitarCupon">
				<input wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/solicitarCupon" message="tns:solicitarCupon"/>
				<output wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/ContratacionExtConfirmacion/solicitarCuponResponse" message="tns:solicitarCuponResponse"/>
			</operation>
			<operation name="confirmarCupon">
				<input wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/confirmarCupon" message="tns:confirmarCupon"/>
				<output wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/ContratacionExtConfirmacion/confirmarCuponResponse" message="tns:confirmarCuponResponse"/>
			</operation>
			<operation name="confirmar">
				<input wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/confirmar" message="tns:confirmar"/>
				<output wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/ContratacionExtConfirmacion/confirmarResponse" message="tns:confirmarResponse"/>
			</operation>
			<operation name="anularCupon">
				<input wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/anularCupon" message="tns:anularCupon"/>
				<output wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/ContratacionExtConfirmacion/anularCuponResponse" message="tns:anularCuponResponse"/>
			</operation>
			<operation name="calcularAnexo">
				<input wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/calcularAnexo" message="tns:calcularAnexo"/>
				<output wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/ContratacionExtConfirmacion/calcularAnexoResponse" message="tns:calcularAnexoResponse"/>
			</operation>
			<operation name="confirmarSiniestro">
				<input wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/confirmarSiniestro" message="tns:confirmarSiniestro"/>
				<output wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/ContratacionExtConfirmacion/confirmarSiniestroResponse" message="tns:confirmarSiniestroResponse"/>
			</operation>
			<operation name="validar">
				<input wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/validar" message="tns:validar"/>
				<output wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/ContratacionExtConfirmacion/validarResponse" message="tns:validarResponse"/>
			</operation>
			<operation name="validarAnexo">
				<input wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/validarAnexo" message="tns:validarAnexo"/>
				<output wsam:Action="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/ContratacionExtConfirmacion/validarResponse" message="tns:validarResponse"/>
			</operation>
		</portType>
		<binding name="ContratacionExtConfirmacionPortBinding" type="tns:ContratacionExtConfirmacion">
			<wsp:PolicyReference URI="#ContratacionExtConfirmacionPortBinding_MTOM_Policy"/>
			<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
			<operation name="calcular">
				<soap:operation soapAction="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/calcular"/>
				<input>
					<soap:body use="literal"/>
				</input>
				<output>
					<soap:body use="literal"/>
				</output>
			</operation>
			<operation name="solicitarCupon">
				<soap:operation soapAction="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/solicitarCupon"/>
				<input>
					<soap:body use="literal"/>
				</input>
				<output>
					<soap:body use="literal"/>
				</output>
			</operation>
			<operation name="confirmarCupon">
				<soap:operation soapAction="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/confirmarCupon"/>
				<input>
					<soap:body use="literal"/>
				</input>
				<output>
					<soap:body use="literal"/>
				</output>
			</operation>
			<operation name="confirmar">
				<soap:operation soapAction="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/confirmar"/>
				<input>
					<soap:body use="literal"/>
				</input>
				<output>
					<soap:body use="literal"/>
				</output>
			</operation>
			<operation name="anularCupon">
				<soap:operation soapAction="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/anularCupon"/>
				<input>
					<soap:body use="literal"/>
				</input>
				<output>
					<soap:body use="literal"/>
				</output>
			</operation>
			<operation name="calcularAnexo">
				<soap:operation soapAction="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/calcularAnexo"/>
				<input>
					<soap:body use="literal"/>
				</input>
				<output>
					<soap:body use="literal"/>
				</output>
			</operation>
			<operation name="confirmarSiniestro">
				<soap:operation soapAction="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/confirmarSiniestro"/>
				<input>
					<soap:body use="literal"/>
				</input>
				<output>
					<soap:body use="literal"/>
				</output>
			</operation>
			<operation name="validar">
				<soap:operation soapAction="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/validar"/>
				<input>
					<soap:body use="literal"/>
				</input>
				<output>
					<soap:body use="literal"/>
				</output>
			</operation>
			<operation name="validarAnexo">
				<soap:operation soapAction="http://agp.rsi.com/serviciosweb/ContratacionExtConfirmacion/validarAnexo"/>
				<input>
					<soap:body use="literal"/>
				</input>
				<output>
					<soap:body use="literal"/>
				</output>
			</operation>
		</binding>
		<service name="ContratacionExtConfirmacionImplService">
			<port name="ContratacionExtConfirmacionPort" binding="tns:ContratacionExtConfirmacionPortBinding">
				<soap:address location="http://localhost:8080/WS-AGP/ContratacionExt"/>
			</port>
		</service>
	</definitions>