Codigo/REP_AGP/JAVA_AGP/schemas/SiniestrosInformacion/InformacionHojasCampo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema 
	targetNamespace="http://www.agroseguro.es/SeguroAgrario/InformacionHojasCampo"
	xmlns="http://www.agroseguro.es/SeguroAgrario/InformacionHojasCampo"
	xmlns:pks="http://www.agroseguro.es/SeguroAgrario/InformacionHojasCampo"
	xmlns:x="http://www.w3.org/2001/XMLSchema"
	xmlns:ti="http://www.agroseguro.es/ITipos" 
> 

	<!-- Importacion de la definicion de tipos genericos -->
	<x:import
		namespace="http://www.agroseguro.es/ITipos" 
		schemaLocation="../commons/Tipos.xsd"/>
	
	<x:element name="ListaHojasCampo" type="HojasCampo" >
		<x:annotation>
			<x:documentation>
				Elemento Raiz
			</x:documentation>
		</x:annotation>
	</x:element>
	
	<x:complexType name="HojasCampo">
		<x:sequence>
            <x:element name="HojaCampo" type="InformacionHojaCampo" minOccurs="1" maxOccurs="unbounded"	/>		
        </x:sequence>
		<x:attribute name="plan" type="ti:Plan"/>
		<x:attribute name="referencia" type="ti:Poliza_Referencia_Creciente" />
		<x:attribute name="nif" type="ti:NIFCIF" />
	</x:complexType>
		
	<x:complexType name="InformacionHojaCampo">
		<x:attribute name="numeroHojaCampo" type="ti:Numero_HojaCampo" use="required" />
		<x:attribute name="fechaTasacion" type="x:date" use="optional"/>
		<x:attribute name="tipoHoja" type="x:string" use="required"/>
		<x:attribute name="tipoHojaDescriptivo" type="x:string" use="required"/>
		<x:attribute name="situacion" type="x:string" use="required"/>
		<x:attribute name="situacionDescriptivo" type="x:string" use="required"/>
	</x:complexType>	
	
</x:schema>