Codigo/REP_AGP/JAVA_AGP/schemas/SiniestrosInformacion/InformacionSiniestros.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema 
	targetNamespace="http://www.agroseguro.es/SeguroAgrario/InformacionSiniestros"
	xmlns="http://www.agroseguro.es/SeguroAgrario/InformacionSiniestros"
	xmlns:pks="http://www.agroseguro.es/SeguroAgrario/InformacionSiniestros"
	xmlns:x="http://www.w3.org/2001/XMLSchema"
	xmlns:ti="http://www.agroseguro.es/ITipos" 
> 

	<!-- Importacion de la definicion de tipos genericos -->
	<x:import
		namespace="http://www.agroseguro.es/ITipos" 
		schemaLocation="../commons/Tipos.xsd"/>
	
	<x:element name="ListaSiniestros" type="Siniestros" >
		<x:annotation>
			<x:documentation>
				Elemento Raiz
			</x:documentation>
		</x:annotation>
	</x:element>
	
	<x:complexType name="Siniestros">
		<x:sequence>
            <x:element name="Siniestro" type="InformacionSiniestro" minOccurs="1" maxOccurs="unbounded"	/>		
        </x:sequence>
		<x:attribute name="plan" type="ti:Plan"/>
		<x:attribute name="referencia" type="ti:Poliza_Referencia_Creciente" />
		<x:attribute name="nif" type="ti:NIFCIF" />
		<x:attribute name="serieEnvioSiniestro" type="ti:Serie" />
		<x:attribute name="numeroEnvioSiniestro" type="ti:Siniestro_NumeroInterno" />
	</x:complexType>
		
	<x:complexType name="InformacionSiniestro">
		<x:attribute name="serie" type="ti:Serie" use="required" />
		<x:attribute name="numeroSiniestro" type="ti:Siniestro_NumeroInterno" use="required" />
		<x:attribute name="situacion" type="x:string" use="required" />
		<x:attribute name="situacionDescriptivo" type="x:string" use="required" />
		<x:attribute name="riesgoDeclarado" type="ti:Riesgo_Codigo" use="required" />
		<x:attribute name="riesgoDeclaradoDescriptivo" type="x:string" use="required" />
		<x:attribute name="totalParcelasDeclaradas" type="x:int" use="required" />
		<x:attribute name="fechaEncargo" type="x:date" use="optional"/>
		<x:attribute name="fechaRecepcionAgroseguro" type="x:date" use="required"/>
		<x:attribute name="fechaOcurrencia" type="x:date" use="required"/>
	</x:complexType>	
	
</x:schema>