Codigo/REP_AGP/JAVA_AGP/schemas/ContratacionCalcMod/DiferenciasCoste.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema 
	targetNamespace="http://www.agroseguro.es/SeguroAgrario/DiferenciasCoste"
	xmlns="http://www.agroseguro.es/SeguroAgrario/DiferenciasCoste"
	xmlns:pks="http://www.agroseguro.es/SeguroAgrario/DiferenciasCoste"
	xmlns:x="http://www.w3.org/2001/XMLSchema"
	xmlns:ti="http://www.agroseguro.es/ITipos" 
	xmlns:ec="http://www.agroseguro.es/SeguroAgrario/EstadoContratacion"
	xmlns:cupon="http://www.agroseguro.es/SeguroAgrario/CuponModificacion"
	xmlns:c="http://www.agroseguro.es/SeguroAgrario/Contratacion"
	xmlns:dc="http://www.agroseguro.es/SeguroAgrario/DistribucionCoste"
> 

	<!-- Importacion de la definicion de tipos genericos -->
	<x:import
		namespace="http://www.agroseguro.es/ITipos"
		schemaLocation="../commons/Tipos.xsd" />
	
	<x:import 
		namespace="http://www.agroseguro.es/SeguroAgrario/EstadoContratacion"
		schemaLocation="../anexoModificacionWS/EstadoContratacion.xsd" />
	
	<x:import namespace="http://www.agroseguro.es/SeguroAgrario/CuponModificacion" 
				schemaLocation="../anexoModificacionWS/CuponModificacion.xsd" />	
	
	<x:import namespace="http://www.agroseguro.es/SeguroAgrario/Contratacion" 
				schemaLocation="../ContratacionConfirmacion/ContratacionSeguroAgrario.xsd" />
				
	
	<x:import namespace="http://www.agroseguro.es/SeguroAgrario/DistribucionCoste"
		schemaLocation="../ContratacionUtilidades/DistribucionCoste.xsd" />
					
	<x:element name="DiferenciasCoste" type="DiferenciasCoste" >
		<x:annotation>
			<x:documentation>
				Elemento Raiz
			</x:documentation>
		</x:annotation>
	</x:element>
	
	<x:complexType name="DiferenciasCoste">
		<x:sequence>
			<x:choice minOccurs="1" maxOccurs="1">
				<x:element name="DistribucionCostesPolizaOriginal" type="c:DistribucionCoste"
						maxOccurs="1" minOccurs="1" />
				<x:element name="DistribucionCostesPolizaOriginal1" type="dc:DistribucionCoste"
						maxOccurs="1" minOccurs="1" />
			</x:choice>
			<x:choice minOccurs="1" maxOccurs="1">
				<x:element name="DistribucionCostesPolizaModificada" type="c:DistribucionCoste"
						maxOccurs="1" minOccurs="1" />
				<x:element name="DistribucionCostesPolizaModificada1" type="dc:DistribucionCoste"
						maxOccurs="1" minOccurs="1" />
			</x:choice>
			<x:choice minOccurs="1" maxOccurs="1">
				<x:element name="DiferenciasCostePolizasOriginalModificada" type="DiferenciasCostePolizasOriginalModificada"
						maxOccurs="1" minOccurs="1" />					
				<x:element name="DiferenciasCostePolizasOriginalModificada1" type="DiferenciasCostePolizasOriginalModificada1"
						maxOccurs="1" minOccurs="1" />	
			</x:choice>				
		</x:sequence>
		<x:attribute name="idCupon" type="cupon:idCupon" use="optional"/>
		<x:attribute name="anioIncidencia" type="ec:AnioIncidencia" use="optional"/>
		<x:attribute name="numeroIncidencia" type="ec:NumeroIncidencia" use="optional"/>
		<x:attribute name="plan" type="ti:Plan" use="required"/>
		<x:attribute name="referenciaPoliza" type="ti:Poliza_Referencia_Creciente" use="required"/>
		<x:attribute name="tipoPoliza" type="ti:Poliza_Referencia_Tipo" use="required"/>
		<x:attribute name="calcularSituacionActual" type="x:boolean"/>
		<x:attributeGroup ref="ti:PeticionSW" />
	</x:complexType>
	
	<x:simpleType name="ImportePositivoNegativo">
		<x:restriction base="x:decimal">
			<x:maxInclusive value="999999999.99" />
			<x:minInclusive value="-999999999.99" />
			<x:fractionDigits value="2" />
			<x:totalDigits value="11" />
		</x:restriction>
	</x:simpleType>
	
	<x:complexType name="BonificacionMedidasPreventivas">
		<x:attribute name="diferenciaBonifMedPreventivas"
			type="ImportePositivoNegativo" use="required" />
	</x:complexType>

	<x:complexType name="BonificacionAsegurado">
		<x:attribute name="diferenciaBonifAsegurado" type="ImportePositivoNegativo"
			use="required" />
	</x:complexType>

	<x:complexType name="RecargoAsegurado">
		<x:attribute name="diferenciaRecargoAsegurado" type="ImportePositivoNegativo"
			use="required" />
	</x:complexType>

	<x:complexType name="Descuento">
		<x:attribute name="diferenciaVentanilla" type="ImportePositivoNegativo"
			use="required" />
		<x:attribute name="diferenciaDescuentoColectivo" type="ImportePositivoNegativo"
			use="required" />
	</x:complexType>

	<x:complexType name="Consorcio">
		<x:attribute name="diferenciaReaseguro" type="ImportePositivoNegativo" use="required" />
		<x:attribute name="diferenciaRecargo" type="ImportePositivoNegativo" use="required" />
	</x:complexType>

	<x:complexType name="SubvencionEnesa">
		<x:attribute name="tipo" type="ti:Subvencion_Tipo"
			use="required" />
		<x:attribute name="diferenciaSubvencionEnesa" type="ImportePositivoNegativo"
			use="required" />
	</x:complexType>

	<x:complexType name="SubvencionCCAA">
		<x:attribute name="codigoOrganismo" type="ti:Organismo_Codigo"
			use="required" />
		<x:attribute name="diferenciaSubvencionCA" type="ImportePositivoNegativo"
			use="required" />
	</x:complexType>	
	
	<x:complexType name="DiferenciasCostePolizasOriginalModificada">
		<x:sequence>
			<x:element name="BonificacionMedidasPreventivas"
				type="BonificacionMedidasPreventivas" minOccurs="0" maxOccurs="1" />
			<x:choice minOccurs="0" maxOccurs="1">
				<x:element name="BonificacionAsegurado"
					type="BonificacionAsegurado" minOccurs="1" maxOccurs="1" />
				<x:element name="RecargoAsegurado"
					type="RecargoAsegurado" minOccurs="1" maxOccurs="1" />
			</x:choice>
			<x:element name="Descuento" type="Descuento" minOccurs="0"
				maxOccurs="1" />
			<x:element name="Consorcio" type="Consorcio" minOccurs="1"
				maxOccurs="1" />
			<x:element name="SubvencionEnesa" type="SubvencionEnesa"
				minOccurs="0" maxOccurs="unbounded" />
			<x:element name="SubvencionCCAA" type="SubvencionCCAA"
				minOccurs="0" maxOccurs="unbounded" />
		</x:sequence>
		<x:attribute name="diferenciaPrimaComercial" type="ImportePositivoNegativo"
			use="required" />
		<x:attribute name="diferenciaPrimaNeta" type="ImportePositivoNegativo"
			use="required" />
		<x:attribute name="diferenciaCosteNeto" type="ImportePositivoNegativo"
			use="required" />
		<x:attribute name="diferenciaCargoTomador" type="ImportePositivoNegativo"
			use="required" />
	</x:complexType>	
	
	<x:complexType name="DiferenciasCostePolizasOriginalModificada1">
		<x:sequence>
			<x:element name="BonificacionRecargo" type="BonificacionRecargo" minOccurs="0" maxOccurs="unbounded" />
			<x:element name="SubvencionEnesa" type="DiferenciaSubvencionEnesa" minOccurs="0" maxOccurs="unbounded" />
			<x:element name="SubvencionCCAA" type="DiferenciaSubvencionCCAA" minOccurs="0" maxOccurs="unbounded" />
		</x:sequence>
		<x:attribute name="diferenciaPrimaComercial" type="ImportePositivoNegativo" use="required" />
		<x:attribute name="diferenciaPrimaComercialNeta" type="ImportePositivoNegativo" use="required" />
		<x:attribute name="diferenciaRecargoConsorcio" type="ImportePositivoNegativo" use="required" />		
		<x:attribute name="diferenciaReciboPrima" type="ImportePositivoNegativo" use="required" />
		<x:attribute name="diferenciaCosteTomador" type="ImportePositivoNegativo" use="required" />
		<x:attribute name="diferenciaTotalCosteTomador" type="ImportePositivoNegativo" use="required"/>
		<x:attribute name="diferenciaRecargoAval" type="ImportePositivoNegativo" use="optional" />
		<x:attribute name="diferenciaRecargoFraccionamiento" type="ImportePositivoNegativo" use="optional" />
	</x:complexType>

	<x:complexType name="BonificacionRecargo">
		<x:attribute name="codigo" type="ti:BonificacionRecargo_Codigo" use="required" />
		<x:attribute name="diferenciaImporte" type="ImportePositivoNegativo" use="required" />
	</x:complexType>	
	
	<x:complexType name="DiferenciaSubvencionEnesa">
		<x:attribute name="tipo" type="ti:Subvencion_Tipo" use="required" />
		<x:attribute name="diferenciaImporte" type="ImportePositivoNegativo" use="required" />	
	</x:complexType>
	
	<x:complexType name="DiferenciaSubvencionCCAA">
		<x:attribute name="codigoOrganismo" type="ti:Organismo_Codigo" use="required" />
		<x:attribute name="diferenciaImporte" type="ImportePositivoNegativo" use="required" />		
	</x:complexType>
	
</x:schema>