Codigo/REP_AGP/WEB_AGP/construccion/descriptores/TEST/wsdl/calculoAnexoModificacion/Financiacion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.agroseguro.es/SeguroAgrario/Financiacion"
	xmlns="http://www.agroseguro.es/SeguroAgrario/Financiacion"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ti="http://www.agroseguro.es/Tipos"
	version="1.0" 
>

	<xs:import
		namespace="http://www.agroseguro.es/Tipos"
		schemaLocation="Tipos.xsd" />

	<xs:element name="Financiacion" type="Financiacion" />

	<xs:complexType name="Financiacion">
		<xs:sequence>
			<xs:element name="Fraccionamiento" type="Fraccionamiento" minOccurs="1" maxOccurs="1" />
			<xs:element name="Periodo" type="Periodo" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="costeTomador" type="ti:ImportePositivo" use="required" />
		<xs:attribute name="plan" type="ti:ImportePositivo" use="required" />
		<xs:attribute name="linea" type="ti:ImportePositivo" use="required" />		
		<xs:attribute name="modulo" type="ti:Cobertura_Modulo" use="optional" />
		<xs:attribute name="periodoFraccionamiento" type="ti:ImportePositivo" use="optional" />
		<xs:attribute name="pctCosteTomador" type="ti:ImportePositivo" use="optional" />
		<xs:attribute name="importeCosteTomador" type="ti:ImportePositivo" use="optional"/>
		<xs:attribute name="importeAval" type="ti:ImportePositivo" use="optional" />
	</xs:complexType>

	<xs:complexType name="Fraccionamiento">
		<xs:sequence>
			<xs:element name="Fraccionamiento1" type="DetalleFraccionamiento" minOccurs="1" maxOccurs="1" />
			<xs:element name="Fraccionamiento2" type="DetalleFraccionamiento" minOccurs="1" maxOccurs="1" />
			<xs:element name="Fraccionamiento3" type="DetalleFraccionamiento" minOccurs="0" maxOccurs="1" />
			<xs:element name="Fraccionamiento4" type="DetalleFraccionamiento" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DetalleFraccionamiento">
		<xs:attribute name="importe" type="ti:ImportePositivo" use="required" />
		<xs:attribute name="pctCosteTomador" type="ti:TantoPorCien" use="required" />
	</xs:complexType>	
	
	<xs:complexType name="Periodo">
		<xs:sequence>
			<xs:element name="Pago" type="Pago" minOccurs="1" maxOccurs="1" />
			<xs:element name="DistribucionCoste" type="DistribucionCoste" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="meses" type="ti:PeriodoFraccionamiento" use="required" />
		<xs:attribute name="pctRecargoAval" type="ti:TantoPorCien" use="optional" />
		<xs:attribute name="pctRecargoFraccionamiento" type="ti:TantoPorCien" use="required"/>
		<xs:attribute name="aplicadoMinimoSAECA" type="xs:boolean" use="optional" /> 
	</xs:complexType>
	
	<xs:complexType name="Pago">
		<xs:attribute name="importe" type="ti:ImportePositivo" use="required" />		
	</xs:complexType>
	
	<xs:complexType name="DistribucionCoste">
		<xs:attribute name="recargoAval" type="ti:ImportePositivo" use="required" />
		<xs:attribute name="recargoFraccionamiento" type="ti:ImportePositivo" use="required" />
		<xs:attribute name="totalCosteTomador" type="ti:ImportePositivo" use="required"/>
	</xs:complexType>

</xs:schema>