Codigo/REP_AGP/JAVA_AGP/schemas/ContratacionRenovaciones/DeclaracionSubvenciones.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.agroseguro.es/Contratacion/DeclaracionSubvenciones"
	xmlns="http://www.agroseguro.es/Contratacion/DeclaracionSubvenciones"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ti="http://www.agroseguro.es/ITipos"
>
		
	<xs:import
		namespace="http://www.agroseguro.es/ITipos"
		schemaLocation="../commons/Tipos.xsd" />
			
	<xs:complexType name="RelacionSocios">
		<xs:sequence>
			<xs:element name="Socio" maxOccurs="unbounded" minOccurs="1" type="Socio" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Socio">
		<xs:sequence>
			<xs:group ref="ti:NombrePersona" maxOccurs="1" minOccurs="1" />
			<xs:sequence>
				<xs:element name="SubvencionesDeclaradas" type="SubvencionesDeclaradas" maxOccurs="1" minOccurs="0" />
			</xs:sequence>					
		</xs:sequence>
		<xs:attribute name="nif" type="ti:NIFCIF" use="required" /> 
		<xs:attribute name="numero" type="ti:Socio_Numero" use="required" />
	</xs:complexType>
		
	<xs:complexType name="SubvencionesDeclaradas" >
		<xs:sequence>
			<xs:element name="SeguridadSocial" type="SeguridadSocial" maxOccurs="1" minOccurs="0" />
			<xs:element name="SubvencionDeclarada" type="SubvencionDeclarada" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SubvencionDeclarada" >
		<xs:attribute name="tipo" type="ti:Subvencion_Tipo" use="required" />
	</xs:complexType>

	<xs:complexType name="SeguridadSocial" >
		<xs:attribute name="codigo" use="required" type="ti:SeguridadSocial_Codigo" />
		<xs:attribute name="numero" use="required" type="ti:SeguridadSocial_Numero" />
		<xs:attribute name="regimen" use="required" type="ti:SeguridadSocial_Regimen" />
		<xs:attribute name="provincia" use="required" type="ti:SeguridadSocial_Provincia" />
	</xs:complexType>

</xs:schema>