Codigo/REP_AGP/JAVA_AGP/schemas/commons/DatosVariables.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://www.agroseguro.es/SeguroAgrario/Contratacion/DatosVariables"
	xmlns="http://www.agroseguro.es/SeguroAgrario/Contratacion/DatosVariables"
	xmlns:ti="http://www.agroseguro.es/ITipos" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

	<xs:import
		namespace="http://www.agroseguro.es/ITipos"
		schemaLocation="Tipos.xsd" />

	<xs:complexType name="DatosVariables">
		<xs:sequence>
			<xs:element name="CalcIndem" type="CalculoIndemnizacion" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="DnCbtos" type="DaniosCubiertos" minOccurs="0" maxOccurs="unbounded" />
			
			<xs:element name="EFFGarant" type="EstadoFenologicoLimiteGarantias" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="FecFGarant" type="FechaLimiteGarantias" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="DurMaxGarantDias" type="DiasLimiteGarantias" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="DurMaxGarantMeses" type="MesesLimiteGarantias" minOccurs="0" maxOccurs="unbounded" />
		
			<xs:element name="EFIGarant" type="EstadoFenologicoLimiteGarantias" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="FecIGarant" type="FechaLimiteGarantias" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="DIGarant" type="DiasLimiteGarantias" minOccurs="0" maxOccurs="unbounded" />				 
			<xs:element name="MIGarant" type="MesesLimiteGarantias" minOccurs="0" maxOccurs="unbounded" />				 
			
			<xs:element name="Garant" type="Garantizado" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="PerGarant" type="PeriodoGarantias" minOccurs="0" maxOccurs="unbounded" />			
			<xs:element name="CapAseg" type="PorcentajeCapitalAsegurado" minOccurs="0" maxOccurs="unbounded" />			
			<xs:element name="Franq" type="PorcentajeFranquicia" minOccurs="0" maxOccurs="unbounded" />			
			<xs:element name="MinIndem" type="PorcentajeMinimoIndemnizable" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="TipRdto" type="TipoRendimiento" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="RiesgCbtoEleg" type="RiesgoCubiertoElegido" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="TipFranq" type="TipoFranquicia" minOccurs="0" maxOccurs="unbounded" />


			<xs:element name="Rot" type="Rotacion" minOccurs="0" maxOccurs="1" />
			<xs:element name="CarExpl" type="CaracteristicasExplotacion" minOccurs="0" maxOccurs="1" />
			<xs:element name="CiCul" type="CicloCultivo" minOccurs="0" maxOccurs="1" />
			<xs:element name="CodDO" type="DenominacionOrigen" minOccurs="0" maxOccurs="1" />
			<xs:element name="CodIGP" type="CodigoIGP" minOccurs="0" maxOccurs="1" />						
			<xs:element name="CodRedRdto" type="CodigoReduccionRdtos" minOccurs="0" maxOccurs="1" />
			<xs:element name="CodCert" type="CodigoCertificado" minOccurs="0" maxOccurs="1" />			
			<xs:element name="Dens" type="Densidad" minOccurs="0" maxOccurs="1" />			
			<xs:element name="Dest" type="Destino" minOccurs="0" maxOccurs="1" />
			<xs:element name="Edad" type="Edad" minOccurs="0" maxOccurs="1" /> 
			<xs:element name="EdadCubi" type="EdadCubierta" minOccurs="0" maxOccurs="1" /> 			
			<xs:element name="EdadEstr" type="EdadEstructura" minOccurs="0" maxOccurs="1" /> 
			<xs:element name="FecRecol" type="FechaRecoleccion" minOccurs="0" maxOccurs="1" />
			<xs:element name="FecSiemTrasp" type="FechaSiembraTrasplante" minOccurs="0" maxOccurs="1" />			
			<xs:element name="IndGastSalv" type="IndicadorGastosSalvamento" minOccurs="0" maxOccurs="1" />
			<xs:element name="MatCubi" type="MaterialCubierta" minOccurs="0" maxOccurs="1" /> 			
			<xs:element name="MatEstr" type="MaterialEstructura" minOccurs="0" maxOccurs="1" /> 						
			<xs:element name="MedPrev" type="MedidaPreventiva" minOccurs="0" maxOccurs="1" />
			<xs:element name="Met" type="MetrosLineales" minOccurs="0" maxOccurs="1" />
			<xs:element name="Met2" type="MetrosCuadrados" minOccurs="0" maxOccurs="1" />		
			<xs:element name="Nadd" type="NumeroAniosDesdeDescorche" minOccurs="0" maxOccurs="1" />
			<xs:element name="Nadp" type="NumeroAniosDesdePoda" minOccurs="0" maxOccurs="1" />
			<xs:element name="NumUnid" type="NumeroUnidades" minOccurs="0" maxOccurs="1" />
			<xs:element name="Pend" type="Pendiente" minOccurs="0" maxOccurs="1" />
			<xs:element name="SisCult" type="SistemaCultivo" minOccurs="0" maxOccurs="1" />
			<xs:element name="SisProd" type="SistemaProduccion" minOccurs="0" maxOccurs="1" />
			<xs:element name="SisProt" type="SistemaProteccion" minOccurs="0" maxOccurs="1" />
			<xs:element name="TipInst" type="TipoInstalacion" minOccurs="0" maxOccurs="1" />
			<xs:element name="TipMas" type="TipoMasa" minOccurs="0" maxOccurs="1" />						
			<xs:element name="TipMcoPlant" type="TipoMarcoPlantacion" minOccurs="0" maxOccurs="1" />			
			<xs:element name="TipPlant" type="TipoPlantacion" minOccurs="0" maxOccurs="1" />
			<xs:element name="SisCond" type="SistemaConduccion" minOccurs="0" maxOccurs="1" />
			<xs:element name="TipSubDecPar" type="TipoSubvencionDeclaradaParcela" minOccurs="0" maxOccurs="1" />			
			<xs:element name="PraCult" type="PracticaCultural" minOccurs="0" maxOccurs="1" />
			<xs:element name="TipTer" type="TipoTerreno" minOccurs="0" maxOccurs="1" />
			<xs:element name="ValFij" type="ValorFijo" minOccurs="0" maxOccurs="1" />
		</xs:sequence>	
	</xs:complexType>

	<xs:attributeGroup name="FactoresModulo">
		<xs:attribute name="cPMod" type="ti:Modulo_ConceptoPrincipal" use="required" />	
		<xs:attribute name="codRCub" type="ti:CodigoRiesgosCubiertos" use="required" />			
	</xs:attributeGroup>	
	
	<xs:complexType name="CalculoIndemnizacion">
		<xs:attributeGroup ref="FactoresModulo" />	
		<xs:attribute name="valor" type="ti:CalculoIndemnizacion" use="required" />
	</xs:complexType>

	<xs:complexType name="DaniosCubiertos">
		<xs:attributeGroup ref="FactoresModulo" />	
		<xs:attribute name="valor" type="ti:TipoDanosCubiertos" use="required" />
	</xs:complexType>

	<xs:complexType name="DiasLimiteGarantias" >
		<xs:attributeGroup ref="FactoresModulo" />	
		<xs:attribute name="valor" type="ti:LimiteGarantias_Dias" use="required" />
	</xs:complexType>	

	<xs:complexType name="EstadoFenologicoLimiteGarantias" >
		<xs:attributeGroup ref="FactoresModulo" />	
		<xs:attribute name="valor" type="ti:LimiteGarantias_EstadoFenologico" use="required" />
	</xs:complexType>

	<xs:complexType name="FechaLimiteGarantias" >
		<xs:attributeGroup ref="FactoresModulo" />		
		<xs:attribute name="valor" type="xs:date" use="required" />
	</xs:complexType>

	<xs:complexType name="Garantizado">
		<xs:attributeGroup ref="FactoresModulo" />
		<xs:attribute name="valor" type="ti:Garantizado" use="required" />
	</xs:complexType>

    <xs:complexType name="PeriodoGarantias">
		<xs:attributeGroup ref="FactoresModulo" />
		<xs:attribute name="valor" type="ti:PeriodoGarantias" use="required" />  
	</xs:complexType>
	
	<xs:complexType name="MesesLimiteGarantias" >
		<xs:attributeGroup ref="FactoresModulo" />
		<xs:attribute name="valor" type="ti:LimiteGarantias_Meses" use="required" />
	</xs:complexType>	

	<xs:complexType name="PorcentajeCapitalAsegurado">
		<xs:attributeGroup ref="FactoresModulo" />
		<xs:attribute name="valor" type="ti:PorcentajeCapitalAsegurado" use="required" />
	</xs:complexType>

	<xs:complexType name="PorcentajeFranquicia">
		<xs:attributeGroup ref="FactoresModulo" />
		<xs:attribute name="valor" type="ti:PorcentajeFranquicia" use="required" />
	</xs:complexType>
	
	<xs:complexType name="PorcentajeMinimoIndemnizable">
		<xs:attributeGroup ref="FactoresModulo" />
		<xs:attribute name="valor" type="ti:PorcentajeMinimoIndemnizable" use="required" />
	</xs:complexType>

	<xs:complexType name="TipoRendimiento">
		<xs:attributeGroup ref="FactoresModulo" />
		<xs:attribute name="valor" type="ti:TipoRendimiento" use="required" />
	</xs:complexType>

	<xs:complexType name="RiesgoCubiertoElegido">
		<xs:attributeGroup ref="FactoresModulo" />
		<xs:attribute name="valor" type="ti:RiesgoCubiertoElegido" use="required" /> 
	</xs:complexType>

	<xs:complexType name="TipoFranquicia">
		<xs:attributeGroup ref="FactoresModulo" />
		<xs:attribute name="valor" type="ti:TipoFranquicia" use="required" />
	</xs:complexType>
	
	<xs:complexType name="Rotacion">
		<xs:attribute name="valor" type="ti:Rotacion" use="required" />
	</xs:complexType>

	<xs:complexType name="CaracteristicasExplotacion">
		<xs:attribute name="valor" type="ti:CaracteristicasExplotacion" use="required" />
	</xs:complexType> 
	
	<xs:complexType name="CicloCultivo">
		<xs:attribute name="valor" type="ti:CicloCultivo" use="required" /> 
	</xs:complexType>

	<xs:complexType name="DenominacionOrigen">
		<xs:attribute name="valor" type="ti:DenominacionOrigen" use="required" /> 
	</xs:complexType>
	
	<xs:complexType name="CodigoReduccionRdtos">
		<xs:attribute name="valor" use="required" >
			<xs:simpleType>
				<xs:list itemType="ti:CodigoReduccionRdtos" />
			</xs:simpleType>
		</xs:attribute>  
	</xs:complexType>

	<xs:complexType name="Densidad">
		<xs:attribute name="valor" type="ti:Densidad" use="required" />
	</xs:complexType>

	<xs:complexType name="Destino">
		<xs:attribute name="valor" type="ti:Destino" use="required" />
	</xs:complexType>
	
	<xs:complexType name="Edad">
		<xs:attribute name="valor" type="ti:Edad" use="required" />
	</xs:complexType>
	
	<xs:complexType name="MedidaPreventiva">
		<xs:attribute name="valor" use="required" >
			<xs:simpleType>
				<xs:list itemType="ti:MedidaPreventiva" />
			</xs:simpleType>
		</xs:attribute> 
	</xs:complexType>
	
	<xs:complexType name="NumeroAniosDesdePoda">
		<xs:attribute name="valor" type="ti:NumeroAniosDesdePoda" use="required" />  
	</xs:complexType>

	<xs:complexType name="FechaRecoleccion">
		<xs:attribute name="valor" type="xs:date" use="required" />
	</xs:complexType>

	<xs:complexType name="FechaSiembraTrasplante">
		<xs:attribute name="valor" type="xs:date" use="required" />
	</xs:complexType>

	<xs:complexType name="IndicadorGastosSalvamento">
		<xs:attribute name="valor" type="ti:IndicadorGastosSalvamento" use="required" />
	</xs:complexType>
	
	<xs:complexType name="NumeroUnidades">
		<xs:attribute name="valor" type="ti:NumeroUnidades" use="required" />
	</xs:complexType>	
	
	<xs:complexType name="SistemaCultivo">
		<xs:attribute name="valor" type="ti:SistemaCultivo" use="required" />  
	</xs:complexType>
	
	<xs:complexType name="SistemaProduccion">
		<xs:attribute name="valor" type="ti:SistemaProduccion" use="required" />  
	</xs:complexType>

	<xs:complexType name="SistemaProteccion">
		<xs:attribute name="valor" type="ti:SistemaProteccion" use="required" />
	</xs:complexType>		

	<xs:complexType name="TipoMarcoPlantacion">
		<xs:attribute name="valor" type="ti:MarcoPlantacion" use="required" />
	</xs:complexType>

	<xs:complexType name="TipoPlantacion">
		<xs:attribute name="valor" type="ti:TipoPlantacion" use="required" />
	</xs:complexType>

	<xs:complexType name="SistemaConduccion">
		<xs:attribute name="valor" type="ti:SistemaConduccion" use="required" />
	</xs:complexType>
	
	<xs:complexType name="TipoSubvencionDeclaradaParcela">
		<xs:attribute name="valor" use="required" >
			<xs:simpleType>
				<xs:list itemType="ti:Subvencion_Tipo" />
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="PracticaCultural">
		<xs:attribute name="valor" type="ti:PracticaCultural" use="required" />
	</xs:complexType>
	
	<xs:complexType name="CodigoIGP">
		<xs:attribute name="valor" type="ti:IGP" use="required" />
	</xs:complexType>

	<xs:complexType name="MetrosLineales">
		<xs:attribute name="valor" type="ti:MetrosLineales" use="required" />
	</xs:complexType>	

	<xs:complexType name="MetrosCuadrados">
		<xs:attribute name="valor" type="ti:MetrosCuadrados" use="required" />
	</xs:complexType>	

	<xs:complexType name="ValorFijo">
		<xs:attribute name="valor" type="ti:ImportePositivo" use="required" />
	</xs:complexType>	
	
	<xs:complexType name="CodigoCertificado">
		<xs:attribute name="valor" type="ti:CodigoCertificado" use="required" />
	</xs:complexType>
	
	<xs:complexType name="MaterialEstructura">
		<xs:attribute name="valor" type="ti:MaterialEstructura" use="required" />
	</xs:complexType>

	<xs:complexType name="MaterialCubierta">
		<xs:attribute name="valor" type="ti:MaterialCubierta" use="required" />
	</xs:complexType>

	<xs:complexType name="EdadEstructura">
		<xs:attribute name="valor" type="ti:EdadEstructura" use="required" />
	</xs:complexType>

	<xs:complexType name="EdadCubierta">
		<xs:attribute name="valor" type="ti:EdadCubierta" use="required" />
	</xs:complexType>

	<xs:complexType name="TipoInstalacion">
		<xs:attribute name="valor" type="ti:TipoInstalacion" use="required" />
	</xs:complexType>

	<xs:complexType name="NumeroAniosDesdeDescorche">
		<xs:attribute name="valor" type="ti:NumeroAniosDesdeDescorche" use="required" />
	</xs:complexType>
	
	<xs:complexType name="Pendiente">
		<xs:attribute name="valor" type="ti:Pendiente" use="required" />
	</xs:complexType>
	
	<xs:complexType name="TipoMasa">
		<xs:attribute name="valor" type="ti:TipoMasa" use="required" />
	</xs:complexType>
	
	<xs:complexType name="TipoTerreno">
		<xs:attribute name="valor" type="ti:TipoTerreno" use="required" />
	</xs:complexType>	
</xs:schema>