Codigo/REP_AGP/WEB_AGP/construccion/descriptores/LOCAL/wsdl/impresion/ImpresionSCPolizaSINBOM.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ImpresionSCPoliza"
	targetNamespace="http://www.agroseguro.es/serviciosweb/ImpresionSCPoliza/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:agr="http://www.agroseguro.es/serviciosweb/ImpresionSCPoliza/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:ti="http://www.agroseguro.es/Tipos"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://www.agroseguro.es/serviciosweb/ImpresionSCPoliza/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import
				namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
				schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
			<xsd:import namespace="http://www.agroseguro.es/Tipos"
				schemaLocation="Tipos.xsd" />
			<xsd:import namespace="http://www.w3.org/2005/05/xmlmime"
				schemaLocation="http://www.w3.org/2005/05/xmlmime" />
			<xsd:element name="obtenerPolizaOriginalPDFRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tiporeferencia"
							type="ti:Poliza_Referencia_Tipo" />
						<xsd:element name="codplan" type="ti:Plan" />
						<xsd:element name="referencia"
							type="ti:Poliza_Referencia" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerPolizaActualPDFRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tiporeferencia"
							type="ti:Poliza_Referencia_Tipo" />
						<xsd:element name="codplan" type="ti:Plan" />
						<xsd:element name="referencia"
							type="ti:Poliza_Referencia" />
						<xsd:element name="recibo" nillable="true"
							type="ti:Recibo_Codigo" />
						<xsd:element name="fecha" nillable="true"
							type="xsd:date" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerPolizaOriginalPDFResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="documento"
							xmime:expectedContentTypes="application/pdf"
							type="xmime:base64Binary" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerPolizaActualPDFResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="documento"
							xmime:expectedContentTypes="application/pdf"
							type="xmime:base64Binary" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="agrFallo"
				xmlns:agr="http://www.agroseguro.es/serviciosweb/ImpresionSCPoliza/">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:annotation>
							Lista de mensajes de error de AGROSEGURO
						</xsd:annotation>
						<xsd:element name="error" type="agr:Error"
							maxOccurs="unbounded" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="Error"
				xmlns:agr="http://www.agroseguro.es/serviciosweb/ImpresionSCPoliza/">
				<xsd:sequence>
					<xsd:element name="codigo" type="xsd:int" />
					<xsd:element name="mensaje" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Header">
		<wsdl:part name="Security" element="wsse:Security" />
	</wsdl:message>
	<wsdl:message name="AgrException">
		<wsdl:part name="parameters" element="agr:agrFallo"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="obtenerPolizaOriginalPDFResponse">
		<wsdl:part name="parameters"
			element="agr:obtenerPolizaOriginalPDFResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="obtenerPolizaActualPDFResponse">
		<wsdl:part name="parameters"
			element="agr:obtenerPolizaActualPDFResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="obtenerPolizaOriginalPDFRequest">
		<wsdl:part name="parameters"
			element="agr:obtenerPolizaOriginalPDFRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="obtenerPolizaActualPDFRequest">
		<wsdl:part name="parameters"
			element="agr:obtenerPolizaActualPDFRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ImpresionSCPoliza">
		<wsdl:operation name="obtenerPolizaOriginalPDF">
			<wsdl:documentation>
				Método de Impresión Original de la Póliza:

				En la petición se deberá facilitar:

				- Tipo de Referencia: carácter con valores P/Principal o
				C/Complementario.

				- Plan.

				- Referencia de Póliza.

				Se devolverá la siguiente información :

				- Fichero PDF con el contenido impreso de la póliza tal
				y como llego a Agroseguro.

				En el caso de producirse errores no se devolverá ningún
				archivo. Algunos de los errores que pueden producirse
				son:

				- La Póliza no existe.

				- La Póliza no pertenece a la Entidad.

				- Tipo de Referencia incorrecta.
			</wsdl:documentation>
			<wsdl:input message="agr:obtenerPolizaOriginalPDFRequest">
			</wsdl:input>
			<wsdl:output
				message="agr:obtenerPolizaOriginalPDFResponse">
			</wsdl:output>
			<wsdl:fault name="AgrException"
				message="agr:AgrException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="obtenerPolizaActualPDF">
			<wsdl:documentation>
				Método Impresión de la Situación Actualizada de la
				Póliza o Situación a Número de Recibo de la Póliza:

				En la petición se deberá facilitar:

				- Tipo de Referencia: carácter con valores P/Principal o
				C/Complementario.

				- Plan.

				- Referencia de Póliza.

				- Recibo. Puede venir vacío.

				- Fecha Recibo. Puede venir vacío.

				Se devolverá la siguiente información :

				- Si no se envía ni el recibo ni la fecha de recibo se
				generará un PDF con el contenido de la póliza tal y como
				se encuentra en la actualidad para su último recibo.

				- Si se envía el recibo y no la fecha de recibo se
				generará un PDF con el contenido de la póliza tal y como
				se encontraba para el recibo pedido.

				- Si se envía la fecha de recibo pero no el recibo, el
				PDF de la póliza se generará con el último de los
				recibos anterior o igual a la fecha indicada. En caso de
				no existir recibo a esa fecha devolverá el error: "El
				Recibo no existe para la Póliza solicitada".

				- Si se envían ambos no se validará la fecha de recibo,
				dando idéntico resultado al caso en el que cumplimenta
				exclusivamente el recibo.

				En el caso de producirse errores no se devolverá ningún
				archivo. Algunos de los errores que pueden producirse
				son:

				- La Póliza no existe.

				- La Póliza no pertenece a la Entidad.

				- El Recibo no existe para la Póliza pedida.

				- No existe recibo para la Situación Actual de la
				Póliza.

				- Tipo de Referencia incorrecta.
			</wsdl:documentation>
			<wsdl:input message="agr:obtenerPolizaActualPDFRequest">
			</wsdl:input>
			<wsdl:output message="agr:obtenerPolizaActualPDFResponse">
			</wsdl:output>
			<wsdl:fault name="AgrException"
				message="agr:AgrException">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ImpresionSCPolizaSOAP"
		type="agr:ImpresionSCPoliza">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="obtenerPolizaOriginalPDF">
			<soap:operation
				soapAction="http://www.agroseguro.es/serviciosweb/ImpresionSCPoliza/obtenerPolizaOriginalPDF" />
			<wsdl:input>
				<soap:header use="literal" message="agr:Header"
					part="Security" wsdl:required="true" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="AgrException">
				<soap:fault name="AgrException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="obtenerPolizaActualPDF">
			<soap:operation
				soapAction="http://www.agroseguro.es/serviciosweb/ImpresionSCPoliza/obtenerPolizaActualPDF" />
			<wsdl:input>
				<soap:header use="literal" message="agr:Header"
					part="Security" wsdl:required="true" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="AgrException">
				<soap:fault name="AgrException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ImpresionSCPoliza">
		<wsdl:documentation>
			Mediante este proceso se podrá solicitar la impresión de una
			Póliza en su situación original o situación a un recibo dado
			en formato PDF.

			La información devuelta será un archivo PDF enviado como un
			Adjunto (Attachment) en formato MTOM.
		</wsdl:documentation>
		<wsdl:port name="ImpresionSCPolizaSOAP"
			binding="agr:ImpresionSCPolizaSOAP">
			<wsdl:documentation>
				La primera dirección es el entorno de pruebas y no tiene
				una resolución asignada en Internet por lo que se deberá
				incluir en la máquina local o en el servidor de nombres
				local con la siguiente dirección: 195.235.42.5
				agrinfo.agroseguro.com. La segunda dirección es el
				entorno real de ejecución.
			</wsdl:documentation>
			<soap:address
				location="http://195.235.42.5/impresionSC/V1R0/services/ImpresionSCPoliza" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>