Codigo/REP_AGP/JAVA_AGP/schemas/ContratacionUtilidades/CostesFijos_OP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema targetNamespace="http://www.agroseguro.es/SeguroAgrario/Contratacion/OP/CostesFijos"
	xmlns="http://www.agroseguro.es/SeguroAgrario/Contratacion/OP/CostesFijos"
	xmlns:x="http://www.w3.org/2001/XMLSchema"
	xmlns:ti="http://www.agroseguro.es/ITipos"
>

	<x:import
		namespace="http://www.agroseguro.es/ITipos"
		schemaLocation="../commons/Tipos.xsd" />

	<x:complexType name="CostesFijosOP">
		<x:sequence>
			<x:element name="Produccion" type="Produccion" maxOccurs="1" minOccurs="1" />
			<x:element name="Asegurables" type="Asegurables" maxOccurs="1" minOccurs="1" />
		</x:sequence>
		<x:attribute name="porcentajeAjuste" use="required" type="ti:TantoPorCien" />
		<x:attribute name="costeReal" use="required" type="ti:ImportePositivo" />
		<x:attribute name="costeUnitario" type="ti:Precio" use="required" />
	</x:complexType>
	
	<x:complexType name="Produccion">
		<x:sequence>
			<x:element name="ProduccionAnio-1" type="ProduccionAnio" minOccurs="1" maxOccurs="1" />
			<x:element name="ProduccionAnio-2" type="ProduccionAnio" minOccurs="0" maxOccurs="1" />
			<x:element name="ProduccionAnio-3" type="ProduccionAnio" minOccurs="0" maxOccurs="1" />
			<x:element name="ProduccionAnio-4" type="ProduccionAnio" minOccurs="0" maxOccurs="1" />
			<x:element name="ProduccionAnio-5" type="ProduccionAnio" minOccurs="0" maxOccurs="1" />						
		</x:sequence>
		<x:attribute name="media" type="ti:ProduccionKG" use="required" />
	</x:complexType>

	<x:complexType name="ProduccionCultivo">
		<x:attribute name="cultivo" type="ti:Descripcion40" use="required" />
		<x:attribute name="produccion" type="ti:ProduccionKG" use="required" />
	</x:complexType>

	<x:complexType name="ProduccionAnio">
		<x:sequence>
			<x:element name="ProduccionCultivo" type="ProduccionCultivo" minOccurs="1" maxOccurs="unbounded" />
		</x:sequence>
		<x:attribute name="socios" type="ti:Socio_Numero" use="required" />
	</x:complexType>

	<x:complexType name="Asegurables">
		<x:sequence>
			<x:element name="PersonalFijo" type="PersonalFijo" maxOccurs="1" minOccurs="1" />
			<x:element name="InmovilizadoMaterial" type="InmovilizadoMaterial" maxOccurs="1" minOccurs="1" />
		</x:sequence>
		<x:attribute name="tributos" type="ti:ImportePositivo" use="required" />
		<x:attribute name="seguros" type="ti:ImportePositivo" use="required" />
		<x:attribute name="otrosCostes" type="ti:ImportePositivo" use="required" />
		<x:attribute name="total" type="ti:ImportePositivo" use="required" />		
	</x:complexType>	
	
	<x:complexType name="PersonalFijo">
		<x:attribute name="numero" type="ti:Socio_Numero" use="required" />
		<x:attribute name="salarios" type="ti:ImportePositivo" use="required" />
		<x:attribute name="s_social" type="ti:ImportePositivo" use="required" />
	</x:complexType>
	
	<x:complexType name="InmovilizadoMaterial">
		<x:sequence>
			<x:element name="Interes" type="Interes" minOccurs="0" maxOccurs="unbounded" />
			<x:element name="Amortizacion" type="Amortizacion" minOccurs="0" maxOccurs="unbounded" />
		</x:sequence>
		<x:attribute name="t_intereses" type="ti:ImportePositivo" use="required" />
		<x:attribute name="t_gastos" type="ti:ImportePositivo" use="required" />
		<x:attribute name="t_amortizacion" type="ti:ImportePositivo" use="required" />
	</x:complexType>
	
	<x:complexType name="Interes">
		<x:sequence>
			<x:element name="Prestamo" type="Prestamo" maxOccurs="1" minOccurs="1" />
		</x:sequence>
		<x:attribute name="tipo" type="ti:TantoPorCien" use="required" />
		<x:attribute name="anualidad" type="ti:ImportePositivo" use="required" />		
	</x:complexType>
	
	<x:complexType name="Prestamo">
		<x:attribute name="finalidad" type="ti:Descripcion40" use="required" />
		<x:attribute name="importe" type="ti:ImportePositivo" use="required" />
		<x:attribute name="anios" type="ti:VidaUtil" use="required" />
		<x:attribute name="fec1Amortizacion" type="x:date" use="required" />
		<x:attribute name="saldo" type="ti:ImportePositivo" use="required" />
	</x:complexType>
	
	<x:complexType name="Amortizacion" >
		<x:attribute name="concepto" type="ti:Descripcion40" use="required" />
		<x:attribute name="vidaUtil" type="ti:VidaUtil" use="required" />
		<x:attribute name="inicio" type="x:date" use="required" />
		<x:attribute name="anualidad" type="ti:ImportePositivo" use="required" />		
	</x:complexType>

</x:schema>