Codigo/REP_AGP/JAVA_AGP/schemas/ayudasContratacion/DistribucionPreciosPoliza.xsd

<?xml version="1.0" encoding="UTF-8"?>
<x:schema 
	targetNamespace="http://www.agroseguro.es/DistribucionPreciosPoliza"
	xmlns="http://www.agroseguro.es/DistribucionPreciosPoliza"
	xmlns:pks="http://www.agroseguro.es/DistribucionPreciosPoliza"
	xmlns:x="http://www.w3.org/2001/XMLSchema"
	xmlns:ti="http://www.agroseguro.es/ITipos" 
	>
	
	<x:import
		namespace="http://www.agroseguro.es/ITipos"
		schemaLocation="../commons/Tipos.xsd" />

	<x:element name="DistribucionPreciosPoliza" type="DistribucionPreciosPoliza" />
	
	<x:complexType name="DistribucionPreciosPoliza" >
		<x:sequence>
			<x:element name="PreciosExplotacion" type="PreciosExplotacion" minOccurs="1" maxOccurs="unbounded" />
		</x:sequence>
		<x:attributeGroup ref="ti:PeticionSW" />		
	</x:complexType>
	
	
	<x:complexType name="PreciosExplotacion">
		<x:attribute name="numero" type="ti:CodigoConcepto" use="required" />
		<x:attribute name="especie" type="ti:Especie" use="required" /> 
		<x:attribute name="regimen" type="ti:Regimen" use="required" /> 
		<x:attribute name="grupoRaza" type="ti:GrupoRaza" use="required" /> 
		<x:attribute name="tipoCapital" type="ti:TipoCapital" use="required" /> 
		<x:attribute name="tipoAnimal" type="ti:TipoAnimal" use="required" /> 
		<x:attribute name="precioMaximo" type="ti:PrecioMaximo" use="required" /> 
		<x:attribute name="precioMinimo" type="ti:PrecioMinimo" use="required" /> 
		<x:attribute name="precioPactado" type="ti:PrecioRetiradaPactado" use="optional" /> 
		<x:attribute name="criteriosUtilizados" type="ti:criteriosUtilizados" use="optional" />
		
	</x:complexType>
	
</x:schema>