Codigo/REP_AGP/JAVA_AGP/schemas/anexoModificacionWS/ContratacionHistorica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.agroseguro.es/Contratacion/Historica"
	xmlns="http://www.agroseguro.es/Contratacion/Historica"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:con="http://www.agroseguro.es/Contratacion"
	xmlns:ceu="http://www.agroseguro.es/CostePoliza/Explotacion"
	xmlns:e="http://www.agroseguro.es/Contratacion/Explotacion"
	xmlns:ti="http://www.agroseguro.es/ITipos"
	xmlns:ds="http://www.agroseguro.es/Contratacion/DeclaracionSubvenciones"
	xmlns:cp="http://www.agroseguro.es/Contratacion/CostePoliza"
	xmlns:dv="http://www.agroseguro.es/Contratacion/DatosVariables"
	xmlns:oprs="http://www.agroseguro.es/SeguroAgrario/Contratacion/OP/RelacionSocios"
	xmlns:opcf="http://www.agroseguro.es/SeguroAgrario/Contratacion/OP/CostesFijos"> 
	
	<xs:import namespace="http://www.agroseguro.es/CostePoliza/Explotacion"
		schemaLocation="../CONTRATACIONSCCALCMOD-V1R0M5/CosteExplotacionUnificada.xsd" />
		
	<xs:import namespace="http://www.agroseguro.es/Contratacion/Explotacion"
		schemaLocation="../CONTRATACIONRENOVACIONES-V1R0M5/Explotacion.xsd" />
		
	<xs:import namespace="http://www.agroseguro.es/Contratacion/CostePoliza"
		schemaLocation="../CONTRATACIONRENOVACIONES-V1R0M5/CostePoliza.xsd" />

    <xs:import namespace="http://www.agroseguro.es/Contratacion/DeclaracionSubvenciones"
		schemaLocation="../CONTRATACIONRENOVACIONES-V1R0M5/DeclaracionSubvenciones.xsd" />
		
	<xs:import namespace="http://www.agroseguro.es/ITipos"
		schemaLocation="../commons/Tipos.xsd" />
		
 	<xs:import namespace="http://www.agroseguro.es/Contratacion/DatosVariables"
		schemaLocation="../CONTRATACIONRENOVACIONES-V1R0M5/DatosVariablesUnificado.xsd" />
		
	<xs:import namespace="http://www.agroseguro.es/SeguroAgrario/Contratacion/OP/RelacionSocios"
		schemaLocation="../CONTRATACIONSCUTILIDADES-V1R1M1/RelacionSocios_OP.xsd" />
	
	<xs:import namespace="http://www.agroseguro.es/SeguroAgrario/Contratacion/OP/CostesFijos"
		schemaLocation="../CONTRATACIONSCUTILIDADES-V1R1M1/CostesFijos_OP.xsd"	/>		
	
	<xs:import namespace="http://www.agroseguro.es/Contratacion"
		schemaLocation="../CONTRATACIONRENOVACIONES-V1R0M5/Contratacion.xsd" />	
		
		
	<xs:element name="PolizaHistorica" type="PolizaHistorica" />
	
	<xs:complexType name="PolizaHistorica">
		<xs:sequence>
			<xs:choice maxOccurs="1" minOccurs="1">
				<xs:element name="Colectivo" type="con:Colectivo" maxOccurs="1" minOccurs="1" />
				<xs:element name="Tomador" type="con:Tomador" maxOccurs="1" minOccurs="0" />
			</xs:choice>
			<xs:element name="Asegurado" type="con:Asegurado" maxOccurs="1" minOccurs="1" />
			<xs:element name="Entidad" type="con:Entidad" maxOccurs="1" minOccurs="1" />
			<xs:element name="Cobertura" type="con:Cobertura" maxOccurs="1" minOccurs="1" />
			<xs:element name="ObjetosAsegurados" type="ObjetosAsegurados" maxOccurs="1" minOccurs="1" />
			<xs:element name="Pago" type="con:Pago" maxOccurs="1" minOccurs="0" />
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element name="CostePoliza" type="cp:CostePoliza" maxOccurs="1" minOccurs="1"/>
				<xs:element name="DistribucionCoste" type="cp:DistribucionCoste" maxOccurs="1" minOccurs="1" />
			</xs:choice>
			<xs:element name="SubvencionesDeclaradas" type="ds:SubvencionesDeclaradas" maxOccurs="1" minOccurs="0" />
			<xs:element name="RelacionSocios" type="ds:RelacionSocios" maxOccurs="1" minOccurs="0" />
			<xs:element name="RelacionSociosOP" type="oprs:RelacionSociosOP" maxOccurs="1" minOccurs="0" />
			<xs:element name="CostesFijosOP" type="opcf:CostesFijosOP" maxOccurs="1" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="ti:PlanLinea" />
		<xs:attribute name="referencia" use="optional" type="ti:Poliza_Referencia_Unificada" />
		<xs:attribute name="digitoControl" use="optional" type="ti:DigitoControl" />
		<xs:attribute name="fechaFirmaSeguro" type="xs:date" use="required" />
		<xs:attribute name="modalidadSeguro" type="ti:ModalidadSeguro" use="optional" />
	</xs:complexType>
						
	<xs:complexType name="ObjetosAsegurados">
		<xs:sequence>
			<xs:element name="ExplotacionHistorica" minOccurs="1" maxOccurs="unbounded" type="ExplotacionHistorica"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ExplotacionHistorica" >
		<xs:sequence>
			<xs:element name="Movimiento" type="ceu:Movimiento" minOccurs="0" maxOccurs="1" />
			<xs:element name="Ubicacion" type="ti:Ambito" minOccurs="1" maxOccurs="1" />
			<xs:element name="Coordenadas" type="e:Coordenadas" minOccurs="0" maxOccurs="1" />
			<xs:element name="GrupoRaza" type="e:GrupoRaza" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="DatosVariables" type="dv:DatosVariables" minOccurs="0" maxOccurs="1" /> 
		</xs:sequence>
		<xs:attribute name="numero" type="ti:NumeroExplotacion" use="optional" />
		<xs:attribute name="rega" type="ti:Codigo_REGA" use="optional" />
		<xs:attribute name="sigla" type="ti:Sigla" use="optional" />
		<xs:attribute name="subexplotacion" type="ti:Subexplotacion" use="optional" />
		<xs:attribute name="especie" type="ti:Especie" use="required" />
		<xs:attribute name="regimen" type="ti:Regimen" use="required" />
	</xs:complexType>

	
</xs:schema>